<template>
    <div>
        <p>详情页面</p>
        <p @click="goBack">回退上一页</p>
    </div>
</template>

<script>
export default {
    methods: {
        goBack(){
            wx.navigateBack();
        }
    }
}
</script>

<style>

</style>