<template>
    <div>
        <swiper>
            <swiper-item v-for="item in banners" :key="item.id">
                <img :src="`http://47.102.145.189:8009${item.imgSrc}`" alt="">
            </swiper-item>    
        </swiper>  
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
    computed: {
        ...mapState({
            banners: state=>state.home.banners
        })
    },
    methods: {
        ...mapActions({
            getBanner: 'home/getBanner'
        })
    },
    created(){
        this.getBanner();
        console.log('this...', this);
    }
}
</script>

<style>

</style>