<template>
	<div>
		<swiper autoplay indicator-dots="true">
			<swiper-item v-for="(item) in swiper" :key="item.id">
				<img :src="item.picUrl" alt="" mode="widthFix">
			</swiper-item>
		</swiper>
    <!-- <p @click="goShopIndex">navigateTo店铺首页</p>
    <p @click="redirectShopIndex">redirectTo店铺详情</p>
    <p>回退上一页</p>
    <p @click="switchTab">切换tab到大牌特惠</p>
    <p @click="reLaunch">重新加载</p>
    <p @click="goOtherProgram">跳转别人家小程序</p> -->
    <navigator open-type="navigateTo" url="/pages/shop/detail" @click="goShopIndex">navigateTo店铺首页</navigator>
    <navigator @click="redirectShopIndex">redirectTo店铺详情</navigator>
    <navigator>回退上一页</navigator>
    <navigator @click="switchTab">切换tab到大牌特惠</navigator>
    <navigator @click="reLaunch">重新加载</navigator>
    <navigator @click="goOtherProgram">跳转别人家小程序</navigator>
    <button open-type="share">分享按钮</button>
     <navigator open-type="navigateTo" url="/pages/shop/detail" @click="goShopIndex">navigateTo店铺首页</navigator>
    <navigator @click="redirectShopIndex">redirectTo店铺详情</navigator>
    <navigator>回退上一页</navigator>
    <navigator @click="switchTab">切换tab到大牌特惠</navigator>
    <navigator @click="reLaunch">重新加载</navigator>
    <navigator @click="goOtherProgram">跳转别人家小程序</navigator>
    <button open-type="share">分享按钮</button>
     <navigator open-type="navigateTo" url="/pages/shop/detail" @click="goShopIndex">navigateTo店铺首页</navigator>
    <navigator @click="redirectShopIndex">redirectTo店铺详情</navigator>
    <navigator>回退上一页</navigator>
    <navigator @click="switchTab">切换tab到大牌特惠</navigator>
    <navigator @click="reLaunch">重新加载</navigator>
    <navigator @click="goOtherProgram">跳转别人家小程序</navigator>
    <button open-type="share">分享按钮</button>
	</div>
</template>

<script>
import request from "@/utils/request";
export default {
  data() {
    return {
      swiper: [],
    };
  },
  methods: {
    goShopIndex(){
      wx.navigateTo({url: '/pages/shop/detail?id=1000'})
    },
    redirectShopIndex(){
      wx.redirectTo({url: '/pages/shop/detail'})
    },
    switchTab(){
      wx.switchTab({url: '/pages/shop/index'})
    },
    reLaunch(){
      wx.reLaunch({url: '/pages/shop/detail'});
    },
    goOtherProgram(){
      wx.navigateToMiniProgram({
        appId: 'wx3375420e2c184d34',
        path: 'pages/index/index?id=123',
        envVersion: 'develop',
        success(res) {
          // 打开成功
        }
      })
    }
  },
  onShareAppMessage(){
    return {
      title:'项目首页',
      path: '/pages/index/index',
      promise: new Promise((resolve, reject)=>{
        resolve({
          title:'promise返回的标题'
        })
      })
    }
  },
  onPullDownRefresh(){
    console.log('处理下拉刷新...');
    setTimeout(()=>{
      wx.stopPullDownRefresh();
    }, 1000);
  },
  onReachBottom(){
    console.log('触发上拉加载')
  },
  async created() {
    let result = await request.post("https://capi.mwee.cn/basic/app/banner", {
      cityId: 19,
      mwAuthToken:
        "uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtPCSKhwebLrgjfpX-CQWJIcZYXmpdLdIF3rNSY-BJe8dSyjtMBhBHk20pqzLLrwWAX-Cq4yzX-ChX-Csk9vBdT1EflbSDPNZFGgxBc5VnC14kzL8imwH7UY-BgBh0Yhgu8NUZXa5Gthb4rm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z",
      mAuthToken:
        "uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtPCSKhwebLrgjfpX-CQWJIcZYXmpdLdIF3rNSY-BJe8dSyjtMBhBHk20pqzLLrwWAX-Cq4yzX-ChX-Csk9vBdT1EflbSDPNZFGgxBc5VnC14kzL8imwH7UY-BgBh0Yhgu8NUZXa5Gthb4rm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z",
      fromw: 1401,
    });
    console.log("result...", result);
	if (result.errNo === 0){
		this.swiper = result.data;
	}
  },
};
</script>

<style>
swiper{
	width: 100%;
}
img{
	width: 100%;
}
</style>
