// 全局样式，常用于覆盖三方样式
:global{
  .title {
    background: rgb(121, 242, 157);
  }
}
// 局部样式，常用于业务内部使用，防止全局污染
:local{
  .title {
    background: rgb(121, 242, 157);
  }
}

// 默认是局部样式
.title {
  background: rgb(121, 242, 157);
}

.page{
  // composes: title;
  color: red;
  font-size: 100px;
}