<template>
    <div>
        <header>
            <span v-for="item in types" :key="item">{{item}}</span>
        </header>
        <ul>
            <li @click="goDetail(item.id)" v-for="item in signList" :key="item.id">
                <p>{{item.address.title}}</p>
                <p>
                    面试时间：{{item.start_time | formatTime}}
                </p>
                <p>{{item.address.address}}</p>
            </li>
        </ul>
    </div>
</template>

<script>
import { watch, ref, computed} from '@vue/composition-api'
export default {
    setup(props, {root}){
        const {$store} = root;
        const types = ['未开始', '已打卡', '已放弃', '全部'];
        const active = ref(3);
        const page = ref(1);

        watch([active, page], ()=>{
            let payload = {page: page.value};
            if (active.value !== 3){
                payload.status = active.value - 1;
            }
            $store.dispatch('sign/getSignList', payload);
        }, {immediate: true})

        const signList = computed(()=>$store.state.sign.signList.map(item=>{
            return {...item, address: JSON.parse(item.address)}
        }));

        function goDetail(id){
            wx.navigateTo({url: '/pages/sign/detail?id='+id})
        }
        
        return {
            signList,
            types,
            active,
            goDetail
        }
    }
}
</script>

<style>

</style>