<template>
    <div>大牌特惠页面</div>
</template>

<script>
import {onMounted, computed} from '@vue/composition-api'
export default {
    setup(props, {root}){
        let {$store, $router} = root;

        // 触发mutation
        // $store.commit('');
        // 触发action
        // $store.dispatch()

        const shopQuery = computed(()=>$store.state.index.shopQuery);
        console.log('shopQuery...', shopQuery);

        console.log('$store...', $store);
        console.log('arguments...', arguments);
        onMounted(()=>{
            console.log('mounted');
        })

        return {}
    }
}
</script>

<style>

</style>